.block_course_categories .footer {
    margin-top: 5px;
}

.block_course_categories .content li {
    margin-bottom: .3em;
}
.block_course_categories .course-count {
    font-size: 0.9em;
    color: lightgray;
    margin-left: 5px;
}
.block_course_categories .dimmed,
.block_course_categories .dimmed .cat-name {
    color: lightgray;
}
.block_course_categories .card.category {
    border: 0;
}
.block_course_categories .card-header {
    border-bottom: 0;
}
.block_course_categories .category {
    padding-top: 2px;
    padding-bottom: 2px;
    transition: background-color 0.2s ease-in-out;
}
.block_course_categories .category-top-header:hover,
.block_course_categories .category-sub-header:hover {
    background-color: #efefef;
    transition: background-color 0.2s ease-in-out;
}
.block_course_categories .dimmed .category-top-header,
.block_course_categories .dimmed .category-sub-header {
    color: gray;
}
.block_course_categories .category-sub-header:hover {
    background-color: #efefef;
    transition: background-color 0.2s ease-in-out;
}
.block_course_categories .card-deck {
    margin-top: 10px;
    margin-bottom: 10px;
}
.block_course_categories .card-deck .card {
    flex-grow: 0;
    flex-basis: auto;
    margin-bottom: 20px;
}
.block_course_categories .card-deck a.coursename {
    color: inherit;
}

.block_course_categories .course-info-container {
    padding: 0.8rem;
}

.block_course_categories .category-sub-header,
.block_course_categories .category-top-header {
    padding: 10px;
    margin: 3px;
    transition: background-color 0.2s ease-in-out;
}
.block_course_categories .category-loader.collapsed {
    background-color: rgba(0, 0, 0, .01);
    transition: background-color 0.2s ease-in-out;
}
.block_course_categories .category-loader.collapsed .fa-folder-open-o {
    display: none;
}
.block_course_categories .category-loader:not(.collapsed) .folder-list-icon.fa-folder-o {
    display: none;
}
.block_course_categories .category-loader:hover .folder-list-icon.fa-folder-o,
.block_course_categories .category-loader .fa-folder-open-o,
.block_course_categories .category-loader:hover {
    color: #839ff3;
    transition: color 0.3s ease-in-out;
}
.block_course_categories .category-loader {
    background-color: #fafafa;
    transition: background-color 0.2s ease-in-out;
}
.block_course_categories i.fa-eye-slash {
    color: lightgray;
    font-size: 1em;
}
.block_course_categories a.course-link {
    transition: background-color 0.2s ease-in-out;
    padding: 5px;
    margin: 5px;
    display: block;
    color: #333;
}
.block_course_categories .dimmed a.course-link {
    color: lightgray;
}
.block_course_categories a.course-link i {
    color: darkgray;
}
.block_course_categories a.course-link:hover i {
    color: #839ff3;
}
.block_course_categories a.course-link:hover i.fa-circle,
.block_course_categories a.course-link i.fa-circle-o {
    display: inline;
}
.block_course_categories a.course-link i.fa-circle,
.block_course_categories a.course-link:hover i.fa-circle-o {
    display: none;
}
.block_course_categories a.course-link:hover {
    border-color: lightskyblue;
    text-decoration: none;
    color: #333;
    background-color: #f9f9f9;
    transition: background-color 0.2s ease-in-out;
}

.block_course_categories #header-tools {
    display: none;
}

#block-region-content .block_course_categories #header-tools {
    display: inline;
    position: absolute;
    top: 10px;
    right: 11px;
}

#block-region-content .block_course_categories.block_with_controls  #header-tools {
    right: 90px;
}
#block-region-side-pre .block_course_categories .dashboard-card-deck.fixed-width-cards .dashboard-card {
    max-width: 220px;
    width: 90%;
}
.block_course_categories .dashboard-card {
    border: 1px solid rgba(0, 0, 0, .125);
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.block_course_categories .dashboard-card:hover {
    background-color: #fafafa;
    opacity: 0.8;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
#block-region-side-pre .block_course_categories .no-content-message {
    font-size: 0.9em;
}

.block_course_categories .category-indicators {
    font-size: 0.9em;
}
.block_course_categories .sub-cat-count .icon,
.block_course_categories .course-count .icon {
    margin-right: 0;
}

.block_course_categories .category-spinner {
    height: 55px;
}
.block_course_categories .spinner-border-sm {
    margin: 0;
    height: 0.9em;
    width: 0.9em;
}
.block_course_categories .spinner-grow {
    height: 15px;
    width: 15px;
}
.block_course_categories .loading-spinner {
    display: none;
    transition: visibility 0.3s ease-in-out;
}
.block_course_categories .loading-spinner .spinner-border {
    margin: 0;
}
.block_course_categories .loading .loading-spinner {
    display: inline-block;
    transition: visibility 0.3s ease-in-out;
}
#block-region-content .block_course_categories .margin2 {
    margin-left: 1em;
}
#block-region-content .block_course_categories .margin3 {
    margin-left: 2em;
}
#block-region-content .block_course_categories .margin4 {
    margin-left: 3em;
}
#block-region-content .block_course_categories .margin5 {
    margin-left: 4em;
}
#block-region-content .block_course_categories .margin6 {
    margin-left: 5em;
}
.block_course_categories .margin2 {
    margin-left: 0.5em;
}
.block_course_categories .margin3 {
    margin-left: 1em;
}
.block_course_categories .margin4 {
    margin-left: 1.5em;
}
.block_course_categories .margin5 {
    margin-left: 2em;
}
.block_course_categories .margin6 {
    margin-left: 2.5em;
}

.block_course_categories #block-footer {
    height: 38px;
}
.block_course_categories .dashboard-card-deck {
    /*Remui theme*/
    flex-wrap: wrap !important;
}
.block_course_categories .category-name {
    position: relative;
}
.block_course_categories #manage-categories {
    background-color: white;
}
@media (max-width: 768px) {
    .block_course_categories #header-tools {
        display: none;
    }
    .block_course_categories.block > div:first-of-type {
        margin-top: 50px;
    }
    #block-course-cats-coursesearch {
        max-width: calc(100% - 150px);
    }
}
@media (max-width: 640px) {
    .cat-name {
        max-width: calc(100% - 50px);
        display: inline-block;
    }
    .block_course_categories .sub-category .category-indicators {
        max-width: 35px;
        position: absolute;
        top: 4px;
        right: 2px;
        text-align: right;
        line-height: 0.9;
    }
    .block_course_categories .sub-category .category-indicators .course-count {
        margin-left: 0;
    }
    .block_course_categories .category-indicators i.fa-eye-slash {
        display: none;
    }
    .block_course_categories .category-indicators i {
        font-size: 0.9em;
    }
}
