<span class="pull-right category-indicators">
    <span class="loading-spinner spinner-border spinner-border-sm text-secondary ml-3" role="status"></span>
    <span class="loading-spinner sr-only">{{#str}}loading, block_course_categories{{/str}}...</span>
    {{^visible}}
        <i class="icon fa fa-eye-slash fa-fw ml-2" title="{{#str}}notvisible, block_course_categories{{/str}}"></i>
    {{/visible}}
    <span class="sub-cat-count dimmed" title="{{#str}}subcategorycount, block_course_categories{{/str}}:  {{sub-category-count}}">
        <i class="icon fa fa-folder-o fa-fw"></i>
        {{sub-category-count}}
    </span>
    <span class="course-count dimmed" title="{{#str}}coursecount, block_course_categories{{/str}}: {{course-count}}">
        <i class="icon fa fa-circle-o fa-fw"></i>
        {{course-count}}
    </span>
</span>