<div class="sub-categories" id="sub-cats-parent-{{categoryid}}" data-template="category-sub">
    {{#subcategories}}
        {{> block_course_categories/category-child }}
    {{/subcategories}}

    {{> block_course_categories/courses }}

</div>
{{#no-content-message}}
    <div class="ml-3 mt-1 mb-3 dimmed">
        {{no-content-message}}
    </div>
{{/no-content-message}}