<div class="card category{{^visible}} dimmed{{/visible}}">
    <div class="category-top-header category-loader{{^top-level-expanded}} collapsed{{/top-level-expanded}}" id="cat-{{categoryid}}" data-categoryid="{{categoryid}}" data-content-time="{{content-time}}"
         data-content-is-loaded="{{content-is-loaded}}" aria-expanded="false" aria-controls="collapse-{{categoryid}}" data-target="#collapse-{{categoryid}}" data-parent="0">
        <h5 class="mb-0 category-name">
            <i class="folder-list-icon icon fa fa-folder-o fa-fw" title="{{#str}}togglecategory, block_course_categories{{/str}}" aria-label="{{#str}}togglecategory, block_course_categories{{/str}}"></i>
            <i class="icon fa fa-folder-open-o fa-fw" title="{{#str}}togglecategory, block_course_categories{{/str}}" aria-label="{{#str}}togglecategory, block_course_categories{{/str}}"></i>
            <span class="cat-name">{{{categoryname}}}</span>
            {{> block_course_categories/category-indicators }}
        </h5>
    </div>

    <div id="collapse-{{categoryid}}" class="collapsible" aria-labelledby="cat-{{categoryid}}" data-parent="#accordion" style="display: {{#top-level-expanded}}block{{/top-level-expanded}}{{^top-level-expanded}}none{{/top-level-expanded}};">
        <div id="sub-cats-parent-{{categoryid}}">
            {{#subcategories}}
                {{>block_course_categories/category-sub}}
            {{/subcategories}}
            {{> block_course_categories/courses }}
        </div>
        {{#no-content-message}}
            <div class="ml-3 mt-3 mb-3 dimmed no-content-message">
                {{no-content-message}}
            </div>
        {{/no-content-message}}
    </div>

</div>