<div class="sub-category margin{{depth}}{{^visible}} dimmed{{/visible}}">
    <div class="category-loader collapsed" id="cat-{{categoryid}}" data-categoryid="{{categoryid}}" data-content-time="{{content-time}}" data-content-is-loaded="{{content-is-loaded}}"
         aria-expanded="false" aria-controls="collapse-{{categoryid}}" data-target="#collapse-{{categoryid}}" data-parent="{{parent-category-id}}">
        <h6 class="mt-1 mb-0 category-name category-sub-header">
            <i class="icon fa folder-list-icon fa-folder-o fa-fw " title="{{#str}}togglecategory, block_course_categories{{/str}}" aria-label="{{#str}}togglecategory, block_course_categories{{/str}}"></i>
            <i class="icon fa fa-folder-open-o fa-fw " title="{{#str}}togglecategory, block_course_categories{{/str}}" aria-label="{{#str}}togglecategory, block_course_categories{{/str}}"></i>
            <span class="cat-name">{{{categoryname}}}</span>
            {{> block_course_categories/category-indicators }}
        </h6>
    </div>

    <div id="collapse-{{categoryid}}" class="collapsible" aria-labelledby="cat-{{categoryid}}" data-parent="{{parent-category-id}}" data-template="category-sub" style="display: none;">
        {{> block_course_categories/category-sub-content }}
    </div>
</div>