{{#has-courses}}
    {{#has-sub-categories}}
        {{>block_course_categories/top-level-courses}}
    {{/has-sub-categories}}
{{/has-courses}}

{{^has-sub-categories}}
    {{>block_course_categories/courses-inner}}
{{/has-sub-categories}}