<div class="card dashboard-card" role="listitem" data-region="course-content" data-course-id="{{courseid}}">
    <a href="{{wwwroot}}/course/view.php?id={{courseid}}" tabindex="1">
        <div class="card-img dashboard-card-img" style="background-image: url('{{cardimage}}')">
            <span class="sr-only">{{#str}}courseoverviewfiles{{/str}}</span>
        </div>
    </a>
    <div class="card-body pr-1 course-info-container" id="course-info-container-2-5">
        <div class="d-flex align-items-start">
            <div class="w-100 text-truncate">
                <div class="text-muted muted d-flex mb-1 flex-wrap">
                    <span class="sr-only">{{#str}}coursecategory{{/str}}</span>
                    <span class="text-truncate dimmed">{{{categoryname}}}</span>
                </div>
                <a href="{{wwwroot}}/course/view.php?id={{courseid}}" class="coursename mr-2">
                    <span class="sr-only">{{#str}}course{{/str}}</span>
                    <span class="text-truncate">{{{name}}}</span>
                </a>
                {{^visible}}
                    <i class="icon fa fa-eye-slash fa-fw ml-2" title="{{#str}}notvisible, block_course_categories{{/str}}"></i>
                {{/visible}}
            </div>
        </div>
    </div>
</div>