{{#showcoursesaslist}}
    {{#courses}}
        <div class="course ml-4" id="course-{{courseid}}">
            <a class="course-link" href="{{wwwroot}}/course/view.php?id={{courseid}}">
                <i class="fa fa-circle-o fa-fw mr-2 ml-2"></i>
                <i class="fa fa-circle fa-fw mr-2 ml-2"></i>
                {{{name}}}
                {{^visible}}
                    <i class="icon fa fa-eye-slash fa-fw ml-2" title="{{#str}}notvisible, block_course_categories{{/str}}"></i>
                {{/visible}}
            </a>

        </div>
    {{/courses}}
{{/showcoursesaslist}}
{{^showcoursesaslist}}
    <div class="courses card-deck dashboard-card-deck fixed-width-cards overflow-hidden ml-3" data-region="card-deck" role="list">
        {{#courses}}
            {{>block_course_categories/course-card}}
        {{/courses}}
    </div>
{{/showcoursesaslist}}