<div id="header-tools">
    {{#hassitewidemanagerights}}
        <a href="{{{wwwroot}}}/course/management.php" id="manage-categories" class="pull-left mr-3" style="display: none;">
            <button class="btn btn-outline-primary" title="{{#str}}manage, block_course_categories{{/str}}" >
                <i class="icon fa fa-cog fa-fw mr-2"></i>{{#str}}manage, block_course_categories{{/str}}
            </button>
        </a>
    {{/hassitewidemanagerights}}
    <form id="block-course-cats-coursesearch" action="{{wwwroot}}/course/search.php" method="get" class="d-inline-block">
        <fieldset class="coursesearchbox invisiblefieldset">
            <div class="input-group pull-right">
                <input class="form-control" type="text" id="coursesearchbox" size="30" name="search" placeholder="{{#str}}searchcourses, block_course_categories{{/str}}">
                <span class="input-group-btn"><button class="btn btn-primary" type="submit">Go</button></span>
            </div>
        </fieldset>
    </form>
</div>

<div id="accordion" style="display: none;">
    {{! Has display none because we will reveal this with JS when page is ready}}
    {{#toplevelcategories}}
        {{>block_course_categories/category-top}}
    {{/toplevelcategories}}
    {{^toplevelcategories}}
        <div class="ml-3 mt-3 mb-3 dimmed">
            {{#str}}nothingtodisplay, block_course_categories{{/str}}
        </div>
    {{/toplevelcategories}}
</div>
<div class="text-center mt-3 mb-3" id="block-spinner">
    <div class="spinner-border text-secondary" role="status" >
        <span class="sr-only">{{#str}}loading, block_course_categories{{/str}}...</span>
    </div>
</div>
{{#debuginfo}}
    <div class="alert alert-dark mt-2">{{{debuginfo}}}</div>
{{/debuginfo}}
