<div class="sub-category margin{{next-depth}}">
    <div class="category-loader top-level-courses collapsed" id="top-level-courses-{{categoryid}}" data-categoryid="{{categoryid}}" data-parent="{{categoryid}}"
         aria-expanded="false" aria-controls="collapse-top-level-courses-{{categoryid}}" data-target="#collapse-top-level-courses-{{categoryid}}" data-type="top-level-courses">
        <h6 class="mt-1 mb-0 category-name category-sub-header">
            <i class="icon fa folder-list-icon fa-folder-o right fa-fw " title="{{#str}}togglecategory, block_course_categories{{/str}}" aria-label="{{#str}}togglecategory, block_course_categories{{/str}}"></i>
            <i class="icon fa fa-folder-open-o fa-fw " title="{{#str}}togglecategory, block_course_categories{{/str}}" aria-label="{{#str}}togglecategory, block_course_categories{{/str}}"></i>
            <span class="cat-name">{{{categoryname}}}
                <span class="dimmed"> {{#str}}toplevelcourses, block_course_categories{{/str}}</span>
            </span>
            <span class="pull-right category-indicators">
                {{^visible}}
                    <i class="icon fa fa-eye-slash fa-fw ml-2" title="{{#str}}notvisible, block_course_categories{{/str}}"></i>
                {{/visible}}
                <span class="course-count dimmed" title="{{#str}}coursecount, block_course_categories{{/str}}">
                    <i class="icon fa fa-circle-o fa-fw"></i>
                    {{course-count}}
                </span>
            </span>
        </h6>
    </div>

    <div id="collapse-top-level-courses-{{categoryid}}" class="collapsible" aria-labelledby="cat-top-level-courses-{{categoryid}}" data-parent="#sub-cats-parent-{{categoryid}}" style="display: none;">
        {{>block_course_categories/courses-inner}}
    </div>
</div>